body, ul, li, h1, h2, h3, h4, h5, h6, p, form, div, dl, dt, dd
    margin 0
    padding 0
    font-size .14rem
    font-weight normal
    box-sizing border-box
ul, li
    list-style none
img
    border-style none
body
    font-family "Microsoft yahei"
    background #fff
    font-size .14rem
html
    height 100%
    background #fff
button, html, input, select, textarea
    font-family "Microsoft yahei"
    box-sizing border-box
p, input, textarea, button, button:focus
    outline none
a
    text-decoration none
    outline none
input
    appearance none
    border none
body, html
    width 100%
    height 100%
button
    border none
